<!--<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">-->

<!--<link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css" rel="stylesheet">-->

<!-- <link rel="stylesheet" href="/static/js/lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/static/js/lib/bootstrap/dist/styles.min.css">
<link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/static/css/{{core_display.core_css}}">
<link rel="stylesheet" href="/static/css/{{core_display.components_css}}">
<link rel="stylesheet" href="/static/css/chartist.min.css">
<link rel="stylesheet" href="/static/css/font_googleapis_raleway.css">
<link rel="stylesheet" href="/static/css/font_googleapis_lato.css">
<link rel="stylesheet" href="/static/css/buttons.dataTables_1_5_2.min.css">
<link rel="stylesheet" href="/static/css/select.dataTables_1_2_7.min.css">
<link rel="stylesheet" href="/static/css/jquerysctipttop.css"  type="text/css">
<link rel="stylesheet" href="/static/js/lib/chosen/gh-pages/chosen.min.css" type="text/css">
<link rel="stylesheet" href="/static/css/all-type-style.css" type="text/css"> -->


<link rel="stylesheet" href="{{ url_for('static', filename='lib/@fortawesome/fontawesome-free/css/all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='lib/typicons.font/typicons.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='lib/prismjs/themes/prism-vs.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='lib/datatables.net-dt/css/jquery.dataTables.min.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='lib/select2/css/select2.min.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='dashforge/css/dashforge.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='dashforge/css/dashforge.demo.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"  >
<link rel="stylesheet" href="{{ url_for('static', filename='dashforge/css/dashforge.filemgr.css') }}"  >
<link rel="stylesheet" href="{{ url_for('static', filename='dashforge/css/font-awesome.min.css') }}"  >