<!-- <footer>
    <div class="row">
        <div class="col-md-12">
            <span class="text-footer-left"> &copy; Copyright 2020. All rights reserved.</span>
            <span class="text-footer-right"> All Rights Reserved  </span>
        </div>
    </div>
</footer> -->

<footer class="footer fixed-bottom">
    <div>
      <span>&copy; TMP ERP </span>
    </div>
    <div>
      <nav class="nav">
        <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
        <a href="../../change-log.html" class="nav-link">Change Log</a>
        <a href="https://discordapp.com/invite/RYqkVuw" class="nav-link">Get Help</a>
      </nav>
    </div>
</footer>