
<!-- <div  id="sidebarMenu" class="sidebar sidebar-fixed">

  <div class="pd-10">

  </div>

  <div class="pd-b-10 pd-x-10">
    <label class="tx-sans tx-uppercase tx-medium tx-10 tx-spacing-1 tx-color-03 pd-l-10"></label>
    <nav class="nav nav-sidebar tx-13">

      {% set menus = [
        {
            "name":"Dashboard", "href":"/user/dashboard", "icon":"home", "tab_active":"dashboard"
        },
        {
          "name":"Tender", "href":"/tender", "icon":"file-text", "tab_active":"tender"
        },
        {
          "name":"My Profile", "href":"/profile", "icon":"users", "tab_active":"profile"
        },
        {
            "name":"Change Password", "href":"/change-password", "icon":"file", "tab_active":"change_password"
        },
        {
            "name":"Logout", "href":"/auth/logout", "icon":"log-out", "tab_active":"dashboard"
        }
        ]
      %}

      {% for menu_item in menus %}
    
        <a href="{{menu_item.href}}" class="nav-link" id="{{menu_item.tab_active}}"><i data-feather="{{menu_item.icon}}"></i> <span>{{menu_item.name}}</span> <span class="badge"></span></a>

      {% endfor %}

 
    </nav>
  </div>

</div> -->



<div id="sidebarMenu" class="sidebar sidebar-fixed sidebar-components">
  <div class="sidebar-header">
    <a href="" id="mainMenuOpen"><i data-feather="menu"></i></a>
    <h5>Components</h5>
    <a href="" id="sidebarMenuClose"><i data-feather="x"></i></a>
  </div>
  <!-- sidebar-header -->
  <div class="sidebar-body">
    <ul class="sidebar-nav">
      {% for menu_item in menu_list_html%}

      {% if (menu_item.value =="PROCUREMENTS_FA" or menu_item.value == "PROCUREMENTS_CM" or menu_item.value == "PROCUREMENTS_FM" or menu_item.value == "PROCUREMENTS_PA") and username != 'su_admin' %}
        {% set item_menu_name = "PROCUREMENTS" %}
      {% else %}
        {% set item_menu_name = menu_item.name %}
      {% endif %}
        
      <li class="nav-item">
        <a href="{{menu_item.href}}" class="nav-link"><i data-feather="{{menu_item.icon}}"></i> {{item_menu_name}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- sidebar-body -->
</div>