<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ qrcard.get('images_gallery_title', qrcard.get('name', 'Image Gallery')) }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/assets/vendor/fontawesome/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;800&family=Roboto:wght@300;400;500;700&family=Open+Sans:wght@300;400;600;700&family=Montserrat:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body>
    {% set images_mode = 'public' %}
    {% include 'user/template_images_general.html' %}
</body>

</html>